Package: com.leonzhu.nfcunblock
Name: NFCUnblock
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Unblock NFC Automation feature for Shortcuts on iOS 13. iPhone 7 or later is required (your device must have a NFC chip).
Maintainer: Leon Zhu
Author: Leon Zhu
Section: Tweaks
