Package: com.leonzhu.nfcbackground
Name: NFCBackground
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Leon Zhu
Author: Hao Wang
Section: Tweaks